.login-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-screen__form {
  width: 380px;
  padding: 1.5rem;
  box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
  background: #fff;
  border-radius: 10px;
}

.login-screen__title {
  text-align: center;
  margin-bottom: 1rem;
}

.login-screen__forgotpassword {
  font-size: 0.7rem;
}

.login-screen__subtext {
  font-size: 0.7rem;
  display: block;
  margin: 0.5rem 0;
}
